/***************Custom Properties*****************/

:root{
    --first-color: #007ED9;
    --first-alpha-color: rgba(0, 87, 217, 0.75);
    --second-color: #14192D;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #14192D;
    --third-alpha-color: rgba(20, 25, 45, 0.75);
    --white-color: #FFFFFF;
    --gray-light-color: #F3F3F3;
    --gray-color: #CCCCCC;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509EE3;
    --title-color: #333333;
    --text-color: #222222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --font: "Raleway", sans-serif;
    --max-whidth: 1200px;
    --header-height: 4rem;
    }