<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High School Make It Real Camp</title>
    <link rel="stylesheet" href="/styles/styles.css" as="style" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body class="body-container">
    <header class="container">
        <nav class="container-navbar">
            <img class="container-navbar-logo" src="/assets/High_school.png" alt="logo" href="index.html" />
            <div class="container-navbar-logo"></div>
            <a class="container-link" href="#">Nuestro Colegio</a>
            <a class="container-link" href="#">Galeria</a>
            <a class="container-link" href="#">Contactenos</a>
            <a class="container-link" href="#">Ingreso</a>
        </nav>
    </header>

    <div class="body">
    <section class="slide">
        <img class="slide-img" src="/assets/slide.png" alt="slide" href="index.html" />
    </section>

    <section class="articule">
        <div class="articule-news">
            <h2 class="articule-news-title">Noticias</h2>
            <p class="articule-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga
                tempora quasi dolorum cum libero inventore provident quod enim quidem
                commodi necessitatibus minus error, suscipit soluta, iure, recusandae
                aliquam eos!
            </p>
        </div>
        <div class="articule-comunicate">
            <h2 class="articule-comunicate-title">Comunicados</h2>
            <p class="articule-comunicate-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga
                tempora quasi dolorum cum libero inventore provident quod enim quidem
                commodi necessitatibus minus error, suscipit soluta, iure, recusandae
                aliquam eos!
            </p>
        </div>
    </section>
    </div>
    <footer class="footer">
        <div class="footer-container">
        </div>
    </footer>
</body>

</html>
