<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High School Make It Real Camp</title>
    <link rel="stylesheet" href="css/styles.css" as="style" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="
    <link rel=" preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="container">
        <nav class="container-navbar">
            <img class="container-navbar-logo" src="img/High_school.png" alt="logo" href="index.html" />
            <div class="container-navbar-logo"></div>
            <a class="container-link" href="#">Nuestro Colegio</a>
            <a class="container-link" href="#">Galeria</a>
            <a class="container-link" href="#">Contactenos</a>
            <a class="container-link" href="#">Ingreso</a>
        </nav>
    </header>

    <section class="slide">
        <img class="slide-img" src="img/slide.png" alt="slide" href="index.html" />
    </section>

    <section class="articule">
        <div class="articule-news">
            <h2 class="articule-news-title">Noticias</h2>
            <p class="articule-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga
                tempora quasi dolorum cum libero inventore provident quod enim quidem
                commodi necessitatibus minus error, suscipit soluta, iure, recusandae
                aliquam eos!
            </p>
        </div>
        <div class="articule-comunicate">
            <h2 class="articule-comunicate-title">Comunicados</h2>
            <p class="articule-comunicate-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga
                tempora quasi dolorum cum libero inventore provident quod enim quidem
                commodi necessitatibus minus error, suscipit soluta, iure, recusandae
                aliquam eos!
            </p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-items">
                <h3 class="footer-container-text">High Schol Make It Real Camp</h3>
                <h3 class="footer-container-text">Direccion: XXXXXXXXXX</h3>
                <h3 class="footer-container-text">Telefono: XXXXXXXXXX</h3>
            </div>
            <div class="logos-redes">
                <p class="footer-container-text">Siguenos</p>
            </div>
            <div class="footer-container-items">
                <h3 class="footer-container-text">Horarios de Atención</h3>
                <h3 class="footer-container-text">Lunes a Viernes</h3>
                <h3 class="footer-container-text">7:00 am a 12:000 pm.</h3>
                <h3 class="footer-container-text">1:00 pm a 5:30 pm.</h3>
            </div>
        </div>
    </footer>
</body>

</html>
