:root {
  --font: "Raleway", sans-serif;
  --first-color: #2C327D;
  --second-color: #702355;
  --third-color: #B16C33;
  --black-color: #0A0A0A;
  --white-color: #FEFEFE;

}

.rdt_TableCol{
  background-attachment: var(--first-color);
}