.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: (0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: #fff;
    min-width: 25rem;
    max-width: 30rem;
    min-height: 11rem;
    max-height: 40rem;
    padding: 1rem;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1 rem;
}