<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High School Make It Real Camp</title>
    <link rel="stylesheet" href="../styles/styles.css" as="style" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container-global">
    <div class="nav-bar">
      <button type="button">Menu</button>
      <nav class="nav-bar__links">
        <a>Nuestro Colegio</a>
        <a>Galería</a>
        <a>Contactenos</a>
        <a>Login</a>
      </nav>
    </div>
    <div class="content">
      <div class="content__slide">slide</div>
      <div class="content__card">card1</div>
      <div class="content__card">card2</div>
    </div>
    <footer class="footer">Footer</footer>
  </div>
</body>
</html>
