/***************Custom Properties*****************/

:root{
    --first-color: #007ED9;
    --first-alpha-color: rgba(0, 87, 217, 0.75);
    --second-color: #14192D;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #14192D;
    --third-alpha-color: rgba(20, 25, 45, 0.75);
    --white-color: #FFFFFF;
    --gray-light-color: #F3F3F3;
    --gray-color: #CCCCCC;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509EE3;
    --title-color: #333333;
    --text-color: #222222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --font: "Raleway", sans-serif;
    --max-whidth: 1200px;
    --header-height: 4rem;
    }

body{
  font: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container{
  background: linear-gradient(142.25deg, rgba(19, 13, 111, 0.71) 11.12%, #5E72EB 99.99%, #130D6F 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  display: flex;
  align-items: center;

}

.container-navbar{

  width: 100%;
  display: flex;
  justify-content: flex-end ;

}

.container-navbar-logo{

  position: absolute;
  width: 120px;
  height: 120px;
  left: calc(50% - 280px/2 - 581.5px);
  top: 0px;

  border-radius: 5px;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 190px;
}

.container-link{
  color: #F3F3F3;
  text-decoration: none;
  flex-direction:row ;
  margin: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;


}
.navegacion-principal{

  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 131px;
  left: 0px;
  top: 0px;

}

.contenedor{
  max-width: 100%;
  margin:0 auto;
  display: flex;
}

.slide{
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 60px;
}

.slide-img{
width: inherit;
height: inherit;
top: 60px;
}

.articule{
width:100%;
height:457px;
background-color: red;
display: flex;
justify-content: space-around;
align-items: center;

filter: drop-shadow(15px 14px 11px rgba(0, 0, 0, 0.25));
background: linear-gradient(120.25deg, #5E72EB 6.38%, #FF9190 91.85%);
margin: 0px;
}

.articule-news{
width: 35%;
height: 70%;
text-align: center;
background-color: rgb(255, 255, 255);
border-radius: 8px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
font-family: Raleway;
font-style: normal;
font-weight: bold;

}

.articule-comunicate{
width: 55%;
height: 70%;
text-align: center;
background-color: rgb(255, 255, 255);
border-radius: 8px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
font-family: Raleway;
font-style: normal;
font-weight: bold;

}

.footer{
width: 100%;
height: 200px;
background: #100A61;
margin: 0px;
}

.footer-container{
display: flex;
width: inherit;
height: inherit;
justify-content: space-around;
align-items: center;
}

.footer-container-items{
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
}

.footer-container-text{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 28px;
color: #FFFFFF;

}

@media (max-device-width: 700px) {

.body-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  min-height: auto;
}

.container-navbar{
  display: none;
  justify-content: stretch;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  justify-content: space-around;
  row-gap: 10px;
  height: auto;
}

.slide {
  padding: 0px;
  min-width: 345px;
  justify-self: stretch;
  height: auto;
}

.slide-img {
  box-sizing: border-box;
  padding: 0px;
  border: 5px;
  min-width: 345px;
  max-width: fit-content;
  height: auto;
  margin: auto;
  justify-self: stretch;

}

.articule{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  padding-top: 11px;
  border: 5px;
  min-width: 345px;
  max-width: fit-content;
  height: auto;
  margin: auto;
  justify-self: stretch;
  justify-content: center;
}

.articule-news {

    width: 90%;
    height: auto;
    justify-self: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;

}
.articule-news {

  width: 90%;
  height: auto;
  justify-self: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;

}

.articule-comunicate {
  width: 90%;
  height: auto;
  justify-self: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* .footer{
 display: none;

}
.footer-container {
  height: 50px;
  margin-top: 54px;

} */

 }




